
[

{% for c in clients %}
	{
		"clientname": "{{ c }}",
		"uri": "{{ clients[c].url }}",
		"login": "{{ clients[c].login }}",
		"pass": "{{ clients[c].pass }}",
		"token": "",
		"matcher": ["{{ c }}-"],
		"match": "prefix",
		"removematch": true,
		"disabled": {{ clients[c].disabled | ternary('true', 'false') }},
		"noactions": {{ clients[c].actions | ternary('false', 'true') }}
	},

{% endfor %}

	{
		"clientname": "DUMMY CLOSING ENTRY for Uniloader {{ uniloader_version}}",
		"uri": "file:disabled-closing-entry.txt",
		"login": "",
		"pass": "",
		"token": "",
		"matcher": [""],
		"match": "any",
		"removematch": true,
		"disabled": true,
		"noactions": true
	}

]


