#
# Systemd Unit for Uniloader with FreeSwitch
#

[Unit]
Description=Loway Uniloader {{ uniloader_version }} - FreeSwitch 
After=syslog.target network.target


[Service]
Type=simple
#EnvironmentFile=/etc/uniloader-freeswitch
Nice=15
KillMode=process
ExecStart=/usr/bin/uniloader fsw \
         --host {{ fsw_host | quote }} --port {{ fsw_port | quote }} --auth {{ fsw_auth | quote }} \
         --queuelog {{ qlogfile | quote }} \
         --ps-uri {{ fusion_db | quote }} --ps-login {{ fusion_login | quote }} --ps-pwd {{ fusion_pwd | quote }} \
         --outbound-include-caller {{ outbound_include_caller | quote }} \
         --outbound-exclude-caller {{ outbound_exclude_caller | quote }} \
         --outbound-include-callee {{ outbound_include_callee | quote }} \
         --outbound-exclude-callee {{ outbound_exclude_callee | quote }} \
         --shorten-domain 1  \
         --events {{ eventsfile | quote }}

RestartSec=1
Restart=on-failure

[Install]
WantedBy=multi-user.target

