#
# Systemd Unit for Uniloader Audiovault
#
# Ref. https://docs.loway.ch/Uniloader/
#
#

[Unit] 
Description=Loway Uniloader {{ uniloader_version }} - AudioVault 
After=syslog.target network.target


[Service]
Type=simple
#EnvironmentFile=/etc/audiovault
Nice=15
KillMode=process
ExecStart=/usr/bin/uniloader av serve \
              --bind-to {{ '%s:%s' | format(av_host, av_port) | quote }} \
              --certificate {{ av_cert | quote }} --certificate-key {{ av_cert_key | quote }} \
              --public-url {{ av_public_url | quote }} \
              --path {{ av_path | quote }} --token {{ av_token | quote }} --tenants {{ av_tenants | quote }}
RestartSec=1
Restart=on-failure

[Install]
WantedBy=multi-user.target