#
# Systemd Unit for Uniloader with FreeSwitch
#

[Unit]
Description=Loway Uniloader {{ uniloader_version }} - FreeSwitch 
After=syslog.target network.target


[Service]
Type=simple
#EnvironmentFile=/etc/uniloader-freeswitch
Nice=15
KillMode=process
ExecStart=/usr/bin/uniloader fsw \
         --host "{{ fsw_host }}" --port "{{ fsw_port }}" --auth "{{ fsw_auth }}" \
         --queuelog "{{ qlogfile }}" \
         --ps-uri "{{ fusion_db }}" --ps-login "{{ fusion_login }}" --ps-pwd "{{ fusion_pwd }}" \
         --outbound-include-caller "{{ outbound_include_caller }}" \
         --outbound-exclude-caller "{{ outbound_exclude_caller }}" \
         --outbound-include-callee "{{ outbound_include_callee }}" \
         --outbound-exclude-callee "{{ outbound_exclude_callee }}" \
         --shorten-domain 1  \
         --events "{{ eventsfile }}"

RestartSec=1
Restart=on-failure

[Install]
WantedBy=multi-user.target

