<?xml version="1.0"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

<servlet>
    <display-name>Queuemetrics XML-RPC Test Servlet</display-name>
    <servlet-name>xmltest</servlet-name>
    <servlet-class>xmltest</servlet-class>
    <load-on-startup>1</load-on-startup>
</servlet>

<servlet-mapping>
    <servlet-name>xmltest</servlet-name>
    <url-pattern>/xmltest</url-pattern>
</servlet-mapping>

</web-app> 
